<table  class="tx_memedia" >
        <tr>
                 <th><f:translate key="tx_memedia_domain_model_media.title" /></th>
                 <th> </th>
                 <th> </th>
         </tr>
         <f:for each="{records}" as="record">
                <f:debug>{record}</f:debug>
                <tr>
                     <td>
                         <f:if condition="{settings.showPid}">
                             <f:then>
                                 <f:link.page additionalParams="{tx_memedia_show:{media: record}}" pageUid="{settings.showPid}">{record.title}</f:link.page>
                             </f:then>
                             <f:else>
                                 <f:link.action action="show" arguments="{media : record}"> {record.title}</f:link.action>
                             </f:else>
                         </f:if>
                     </td>
                </tr>
         </f:for>
</table>