<f:if condition="{record.title}">
	<h2>{record.title}</h2>
</f:if>

<f:if condition="{record.description}">
	<p>{record.description}</p>
</f:if>

<f:if condition="{0:record.provider} == {0:'youtube'}">
	<div class="content-element">
		<i class="fa fa-video-camera visible-print-block"></i><br/>
		<f:render partial="Media/ExternalStream/Youtube" arguments="{record: record}"/>
	</div>
</f:if>

<f:if condition="{0:record.provider} == {0:'vimeo'}">
	<div class="content-element">
		<i class="fa fa-video-camera visible-print-block"></i><br/>
		<f:render partial="Media/ExternalStream/Vimeo" arguments="{record: record}"/>
	</div>
</f:if>

<f:if condition="{0:record.provider} == {0:'myvideo'}">
	<div class="content-element">
		<i class="fa fa-video-camera visible-print-block"></i><br/>
		<f:render partial="Media/ExternalStream/MyVideo" arguments="{record: record}"/>
	</div>
</f:if>